{% extends "base.html" %}

{% block title %}{{ title }} - Duelo de Plumas{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>
    <p>Crea una nueva cuenta de juez. Esta cuenta podrá ser asignada a concursos.</p>

    <div class="form-container">
        <form action="{{ url_for('admin.add_judge') }}" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
                {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}<br>
                {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
    <p><a href="{{ url_for('admin.index') }}">&laquo; Volver al Panel de Administración</a></p>
{% endblock %}
